.trand-right-img img {
  width: 120px;
  height: 100px;
  object-fit: cover;
}

.trend-bottom-img {
  width: 100%;
  height: 200px;
}

.trend-bottom-img img,
.weekly-img img,
.what-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.weekly-single{
    height: 370px;
}

.weekly-caption {
  background-color: rgba(255, 255, 255, 0.76) !important;
}

.single-what-news, .single-recent{
  height: 320px;
}

.single-recent{
  width: 370px;
}

.what-img,
 .weekly-img {
  width: 100%;
  height: 100%;
}

.whats-news-area .container{
    border-bottom: 1px solid #eeeeee;
}

.recent-articles{
    padding: 50px 0px;
}

h4 a, .media-body a{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.description{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}



.description p{
  font-size: 13px;
  line-height: normal;
}

#paginationList{
  display: contents;
}

.pagination-area .page-item.active .page-link::before {
  width: 30px;
  left: 5px;
}


.media.post_item img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}


.iconHeart{
  color: gray;
  padding: 10px;
  font-size: 25px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}


.iconHeart.active {
  color: red;
}


.iconHeart:hover{
  color: red;
}

.trend-bottom-cap, .trand-right-cap{
  position: relative;
}


div.widget
{
  position: relative;
  width: 355px;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #A5ABBD;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.left-panel
{

}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(255, 255, 255, 0.7);
}

div.temp
{
  font-size: 81px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
}

div.panel
{
  display: inline-block;
}

div.right-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 50px;
}

.header-info-left img{
  width: 16px;
}